<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://127.0.0.1:3000/">Kalender</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--
      <li class="nav-item active">

        <a class="nav-link" href="http://[::1]:3000/lands/landpage">Pag Inicial </a>
        <%=  link_to "Crie já seu Calendário", lands_landpage_path %>

      </li>
 -->

      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:3000/aboutus/aboutus">Sobre</a>
      </li>

      <li  class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:3000/users/sign_in">ENTRAR</a>

      </li>
    </ul>

  </div>
</nav>
