<div class="about-section">
  <h1>Kalendar</h1>

  <p class="div">Nossa missão é ser um calendário online que permite que um ou mais usuários editem e, opcionalmente, compartilhem com outros usuários o acesso online a um calendário.

A partir dos nossos serviços poderá fazer uso de uma ferramenta indispensável. Pois, nossas vidas diárias são gerenciáveis apenas graças aos nossos calendários em nossos computadores e telefones. Um calendário online permite-nos gerir os nossos horários e ajuda-nos na gestão do tempo. Pense em todas as vezes que as pessoas se esquecem de suas reuniões e compromissos agendados. As consequências incluem remarcar as reuniões para uma data muito posterior ou até mesmo pagar uma taxa por faltar a um compromisso. Um calendário online permite que você sempre acompanhe suas reuniões e compromissos.</p>

</div>

<h2 style="text-align:center">Nosso Time</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFXwSHsXB5A-w/profile-displayphoto-shrink_200_200/0/1653855378664?e=1671062400&v=beta&t=JnZi5-8DhyHSwJWl68lXvud1KkoxXQDeGJyuVxGWdRY" alt="Daniel" style="width:5%">
      <div class="container">
        <h2>Daniel Terra Gomes</h2>
        <p class="title">Estudante</p>
        <p>Computer Science | Machine Learning Enthusiast | AI Ethics</p>
        <p>danielterra@pq.uenf.br</p>
        <p><button class="button">Contato</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQHKXoHRT58ayQ/profile-displayphoto-shrink_200_200/0/1516814846280?e=1671062400&v=beta&t=cic_dbtWwgtjWRRnokSRsCxRugh6w52FOZYAksyRxEs" alt="Ausberto" style="width:5%">
      <div class="container">
        <h2>Ausberto S. Castro Vera</h2>
        <p class="title">Professor</p>
        <p>PhD Computer Science: Software Engineering, Requirements Engineering, Computer Security, Cloud Computing</p>
        <p>ascv@uenf.br</p>
        <p><button class="button">Contato</button></p>
      </div>
    </div>
  </div>


</div>
